body
html
 {
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #47247a;
  color: yellow;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

nav {
  background-color: #e3d4ff;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #47247a;
  font-weight: bold;
  margin: 0 15px;
}

.container {
  width: 80%;
  margin: 30px auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.category {
  background: #ffcc00;
  display: inline-block;
  color: #47247a;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  margin-bottom: 15px;
}

h1 {
  color: #2a1a56;
  font-size: 28px;
  margin-bottom: 10px;
}


img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
}

p {
  line-height: 1.7;
  text-align: justify;
  font-size: 17px;
}

#content {
    padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.card {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer {
  background-color: #47247a;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 14px;
}


